body{
    height: 100%;
    }
.back
{
  
    background-image: url('../Images/plan.gif');
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.centered {
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
.up
{
  border: 2px solid blueviolet;
  border-radius: 10px;
}
.button {
    background-color:blueviolet;
    border: none;
    color: black;
    padding: 5px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 15px;
  }