.cor{
    position: relative;
}

.footer{
    position: relative;
}
.specialOffer{
    font-family: 'Alfa Slab One', cursive;
    text-align: center;
    font-size: 60px;
    margin: 30px;
    color: blue;
}

.card-div{
    width: 100%;
    margin: 50px;
}

.gif-container{
    margin-top: 40px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
    height: auto;   
}