.NavButton {
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: 0.5rem;
    padding-left: 5px;
    padding-right: 5px;
    margin: 10px;
    /* padding-left: 15px;
    padding-right: 15px; */
    text-underline-position: below;
}

.mainview {
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
    width: 100%;
    margin-bottom: 10px;
}

.mainlogo {
    margin: 0;
}

@media screen and (max-width: 768px) {
    .mainlogo{
        margin-right: 55vw;
    }
}